.images {

  max-width: 55%;
  margin: 1em ;

  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  align-items: center;  

}

.card {
  top: 5em;
  position: relative;
  padding: 1em;
  border: 1px solid #e1e1e1;
  background-color: #FFF;
  margin: 1em ;
  border-radius: 1em;
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.17);
  
}

.image {
  width: 100%;
  transition: transform 0.5s;
}
.image:hover{
  transform: scale(1.5);
  border-radius: 20%;
}

.footer {
  padding: 0.5em 0;
  font-size: 12px;
  text-align: center;
  font-family: monospace;
}

.avatar {
  width: 45px;
  border-radius: 50%;
  transition: transform 0.5s;
}

.avatar:hover{
  transform: scale(5);
 border-radius: 20%;
}

#logo {
  height: 120px;
  width: 120px;
  border-radius: 30%;
  position: relative;
  left: 25rem;
  bottom: 1.5em;
}

.header {
  background: rgb(30,185,198);
  background: linear-gradient(90deg, rgba(30,185,198,0.16850490196078427) 36%, rgba(9,183,215,0.896796218487395) 52%, rgba(0,255,162,0.4066001400560224) 70%);
  color: rgba(255, 255, 255, 0.966);
  padding: 0 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
}

#slogan{
float: right;
padding-right: 12%;
padding-top: 1%;
font-size: 40px;
 
}



#title{
  color: rgb(143, 209, 214);
  padding: 0 0 0 0; 
  position: relative;
  top: 2em;
  left: 3em;
  font-size: 40px;
}

@media screen and (min-width: 580px) and (max-width: 780px) {
  #slogan {
    display: inline;
  }
}

.ContentForm {
 width: 30%;
 height: 450px;
 max-width: 400px;
 min-width: 200px;
 float: right;
 background-image: url(https://images.pexels.com/photos/3825011/pexels-photo-3825011.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
 margin-top:  8%;
 margin-right: 15%;
padding: 30px;
border-radius: 10%;
}

#Hform {
 text-align: center;
 margin-bottom: 20px;
 color: white;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 65px;
}

.inputF{
  display: flex;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 90%;
  margin: 20px 0;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5%;
}

#buttonF{
  padding: 10px;
  background-color: wheat;
  width: 25%;
  margin: 10px 0;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 15%;

}